.buttonEspecialista,img {
    border: 5px transparent;
    max-height: 150px;
    max-width: 200px;
  }

  .divEspecialistas{
    display: flex;
  }

  .contenedor{
    background-color: rgba(255, 255, 255, 0.616);
    border-color: rgb(56, 62, 68);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}

#background{
    width: 100%;
    height: 95vh;
    background-image: url('src\assets\background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.iconos{
  position: relative;
}

.iconos:hover{
  transform: scale(1.10);
  cursor: pointer;
}