body 
{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    overflow: hidden; 
    background-image: url('src\assets\background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 95vh;
    background-position: center;
}

.contenedorBotonPDF{
    position: absolute;
    width: 340px;
    background-color: rgba(255, 255, 255, 0.616);
    height: auto;
    min-height: 355px;
    top:49%;
    left:50%;
    border-color: rgb(56, 62, 68);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}

.iconos{
    position: relative;
    width: 50px;
    height: auto;
    top:3px;
    margin-left:4%;
    margin-right:4%;
}

.iconos:hover{
    transform: scale(1.10);
    cursor: pointer;
}


.contenedorCantEspecialidades{
    position: absolute;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.616);
    height: 355px;
    top:9%;
    left:34%;
    border-color: rgb(56, 62, 68);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    overflow-y: scroll;
    overflow: hidden;
}

.contenedorGraficos{
    position: absolute;
    border-color: rgb(56, 62, 68);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 600px;
    height: 355px;
    top:9%;
    left:1%;
}

.contenedorCantDia{
    position: absolute;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.616);
    height: auto;
    min-height: 355px;
    top:9%;
    left:56%;
    border-color: rgb(56, 62, 68);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}

.contenedorLogeos{
    position: absolute;
    width: 900px;
    background-color: rgba(255, 255, 255, 0.616);
    height: 450px;
    top:49%;
    left:1%;
    border-color: rgb(56, 62, 68);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    overflow-y: scroll;
    overflow: hidden;
}



.titulo{
    margin-top: 1%;
}

.especialidadesCirculos{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: white;
    border-width: 10px;
    border-style: solid;
    display: inline-block;
    text-align: center;
    margin:1%;
}

.textoEspecialista{
    position: relative;
    font-weight: bold;
    font-size: 15px;
    top: 27%;
}

.textoNumero{
    position: relative;
    font-weight: bold;
    font-size: 13px;
    top: 30%;
}

.textoNumeroDia{
    position: relative;
    font-weight: bold;
    font-size: 15px;
    top: 36%;
}

.tablaLogeos
{
    margin-top:1%;
    top:5%;
    left:5%;
    position: relative;
    border-collapse: collapse;
    width: 800px;
    border-radius: 50%;
    table-layout: auto;
    white-space: nowrap;
    max-width: 90%;
}

th
{
    background-color: rgba(0, 0, 0, 0.959);
    color: white;
    
}

th, td
{
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #000000;}

tbody{
    background-color: rgb(233, 233, 233);
    border-radius: 80%;
}


