.imagenContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
  
img{
    height: 180px;
}

.contenedor{
    background-color: rgba(255, 255, 255, 0.616);
    height: auto;
    top:5px;
    right: 15px;
    position: relative;
    border-color: rgb(56, 62, 68);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}